@font-face {
    font-family: 'bignoodletooobliqueitalic';
    src: url('fonts/bignoodletoo-webfont.woff2') format('woff2'),
         url('fonts/bignoodletoo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: bignoodletooobliqueitalic;
    font-weight: normal;
    font-style: italic;
    background-color: #121212;
}

.stream-ending {
    margin-top: 100px;
    text-align: center;
    color: #FFF;
    font-size: 30px;
    transition: opacity 1s;
    opacity: 1;
}

.thanks-message {
    position: absolute;
    bottom: 100px;
    left: 0px;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 30px;
    transition: opacity 1s;
    opacity: 1;
}

.stream-ending.fade,
.thanks-message.fade {
    opacity: 0;
}

.user {
    position: absolute;
    display: inline-block;
    text-align: center;
    z-index: 2;
    transition: opacity 1s;
}

.user.pop-in-out {
    animation: pop-in-out 3s;
}

.user.slide .username {
    opacity: 0.7;
    animation: slide-right 3s;
}

.user.slide .action {
    opacity: 0.7;
    animation: slide-left 3s;
}

.user.fade {
    opacity: 0;
}

.user.pop-in-out.fade {
    transform: scale(.6);
}

.username {
    margin: 0;
    color: #FFF;
    font-size: 100px;
    transition: all 1s;
}

.action {
    position: relative;
    display: inline-block;
    margin-top: -20px;
    font-size: 30px;
    transition: all 1s;
}

.action.followed {
    color: #A666A8;    
}

.action.subscribed {
    color: #fbaf3f;
}

.action.subscribed.prime::before {
    position: absolute;
    top: 2px;
    left: -30px;
    background-image: url('../img/prime.png');
    background-size: 28px 28px;
    display: block;
    width: 28px;
    height: 28px;
    content:"";
}

.action.subscribed .times {
    position: absolute;
    bottom: 2px;
    left: calc(100% + 10px);
    
    font-size: 20px;
}

.action.cheered {
    color: #27a9e1;
}

.action.cheered::before {
    position: absolute;
    top: 4px;
    left: -30px;
    background-size: 28px 28px;
    display: block;
    width: 28px;
    height: 28px;
    content: "";
}

.action.cheered.bit1::before {
    background-image: url('https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1/1.gif');
}
.action.cheered.bit100::before {
    background-image: url('https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/100/1.gif');
}
.action.cheered.bit1000::before {
    background-image: url('https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/1000/1.gif');
}
.action.cheered.bit10000::before {
    background-image: url('https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/10000/1.gif');
}
.action.cheered.bit100000::before {
    background-image: url('https://d3aqoihi2n8ty8.cloudfront.net/actions/cheer/dark/animated/100000/1.gif');
}

.action.donated {
    color: #43bc9e;
}

@keyframes pop-in-out {
  0%   { transform: scale(1); opacity: .9; }
  1%   { transform: scale(1.1); opacity: 1; }
  100% { transform: scale(.6); opacity: 0; }
}

@keyframes slide-left {
  0%   { margin-right: 150px; opacity: 0; }
  30%   { margin-right: 0px; opacity: 1; }
  90% { margin-right: -150px; opacity: 0; }
}

@keyframes slide-right {
  0%   { margin-left: 50px; opacity: .0; }
  30%   { margin-left: 0px; opacity: 1; }
  90% { margin-left: -50px; opacity: 0; }
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -370px 0 0 -240px;
    width: 480px;
    height: 740px;
    transition: opacity ease-in 1s;
    opacity: 0;
}

.logo.fade {
    opacity: 1;
}

.logo img {
    width: 480px;
    height: 740px;
}